<section class="container">
  <h2>Book Description</h2>
  <div class = "book-details">
    <img class="book-img" src= {{book.image}} alt=""/>
      <ul class="list-group">
  <li class="list-group-item active">{{book.title}}</li>
  <li class="list-group-item">{{book.description}}</li>
  <li class="list-group-item">{{book.author}}</li>
  <li class="list-group-item">{{book.interest}}</li>
  <li class="list-group-item">{{book.post}}</li>
      </ul>
{{!-- </ul>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul> --}}

    <div class="">
      <button type="submit">Exchange</button>
      <button type="submit">Interest</button>
    </div>
  </div>
</section>
