<div class="book-details">
  <h2>Book Description</h2>
  <img class="book-img" src= {{#}} alt=""/>
    <ul>
      {{#with book}}
      <li>{{title}}</li>
      <li>{{description}}</li>
      <li>{{author}}</li>
      <li>{{interest}}</li>
      <li>{{post}}</li>
      {{/with}}
    </ul>

  <div class="">
    <button type="submit">Exchange</button>
    <button type="submit">Interest</button>
  </div>

</div>
