<section class="container">

  <div class="row">

    
    {{!-- {{#if prevPage}}
    <div class="col-sm-6 col-md-6 col-lg-12">
      <p>{{prevPage}}</p>
      <a href="/books/{{queryStringPrev}}">Prev Page</a>
    </div>
    {{/if}} --}}
    <div class="col-sm-12 col-md-6 col-lg-12">
      <h1 id="gallary-text">Book Gallery</h1>
      {{#each books}}
      {{> books}}
      {{/each}}
    </div>
    {{!-- {{#if nextPage}}
    <div class="col-sm-12 col-md-6 col-lg-12">
      <p>{{nextPage}}</p>
      <a href="/books/{{queryStringNext}}">Next Page</a>
    </div>
    {{#if nextPage}} --}}

  </div>
  <nav aria-label="...">
    <ul class="pager">
     
      {{#if prevPage}}
      <li><a href="/books/{{queryStringPrev}}">{{prevPage}}- Previous</a></li>
      {{/if}}
      {{#if nextPage}}
      <li> <a href="/books/{{queryStringNext}}">{{nextPage}}- Next</a></li>
      {{/if}}
    </ul>
  </nav>

</section>

  