<section>
  <h2>Book Description</h2>
  <div class = "book-details">
    <img class="book-img" src= {{book.image}} alt=""/>
      <ul>
        <li>{{book.title}}</li>
        <li>{{book.description}}</li>
        <li>{{book.author}}</li>
        <li>{{book.interest}}</li>
        <li>{{book.post}}</li>
      </ul>

    <div class="">
      <button type="submit">Exchange</button>
      <button type="submit">Interest</button>
    </div>
  </div>
</section>
