<div class="user-details">
    {{#with celeb}}
    <img class = "photo" src = {{image}}/>
    <li><h3>{{name}}</h3></li>
    <li>{{password}}</li>
    <li>{{street}}</li>
    <li> {{this.city}}</li>
    <li> {{this.state}}</li>

    {{#with celeb}}

    <form action="/userprofile/{{_id}}/edit" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{name}}">

        <label for="Password">Password</label>
        <input type="text" name="password" value="{{password}}">

        <label for="street">street</label>
        <input type="text" name="street" value="{{street}}">

        <label for="city">City</label>
        <input type="text" name="city" value="{{city}}">

        <label for="state">State</label>
        <input type="text" name="state" value="{{state}}">

        <button type="submit">Edit</button>
    </form>

    {{/with}}
</div>