<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img class="book-img" src={{this.img}} alt="">
    <div class="caption">
      <h2 class="book-title">{{this.title}}</h2>
      <h3 class="book-author">{{this.author}}</h3>
      <p class="book-description">{{this.description}}</p>
      <p>
        <a href="/{{this.src}}/delete/{{this._id}}" class="btn btn-primary" role="button">Remove</a>
        <a href="/books/{{this._id}}" class="btn btn-primary" role="button">Detail</a>
      </p>
    </div>
  </div>
</div>